name: Publish package to NPM

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: yarn ci
      - run: yarn build

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: yarn ci
      - run: yarn lint
      - run: yarn format:check
      - run: yarn test
      - run: yarn build
      - run: npm publish

        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
